.images-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex; 
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.button-more {
  margin: 1em 0;
  width: 100%;
  max-width: 304px;
}

@media only screen and (min-device-width: 768px) {
  .button-more {
    max-width: 1024px;
  }

  .images-list li {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}