.App {
  text-align: center;
  height: 100%;
  padding: 0 8px;
}

header {
  width: 100%;
}

button,
input[type="submit"] {
  background: hsl(191, 100%, 42%);
  border: 1px solid hsl(191, 100%, 50%);
  color: white;
  padding: 12px;
  font-weight: bold;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
  text-transform: uppercase;
}

button:hover,
button:focus {
  background: hsl(191, 100%, 46%);
}


